{% extends 'base.html' %}

{% block navbar %}{% endblock %}

{% block content %}

  <div class="order-pay">

    <div class="h1 my-3 text-center">ПРОИЗВЕСТИ ОПЛАТУ ЗАКАЗА?</div>
    <div class="h2 mb-5 text-center">Внимание! <br>Это симуляция процесса оплаты!</div>
    <div class="h3 mb-5 text-center">Заказ # {{ order.id }} <br>Сумма: &#8381; {{ order.get_total_cost }}</div>
    <div>
        <a href="{% url 'orders:order_pay_confirm' order.id %}" class="text-decoration-none">
        <button type="button" class="btn btn-success font-weight-bold shadow-custom col mb-3">
            ДА
        </button>
        </a>
        <a href="{% url 'orders:order_create' %}" class="text-decoration-none">
        <button type="button" class="btn btn-danger font-weight-bold shadow-custom col mb-3">
            НЕТ
        </button>
        </a>
    </div>

  </div>

{% endblock %}
