{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Смена текущего пароля{% endblock %}

{% block content %}

  {% if form.errors %}
  <div class="shadow-custom messages alert alert-danger col-lg-5 mx-auto text-center">
      Пароли введены некорректно.
      Попытайтель ввести их еще раз.
    </div>
  {% endif %}

    <div class="h2 mt-5">Смена пароля</div>
      <p>Используйте эту форму для смены пароля или
      вернитесь <a href="{% url 'notes:portal' %}">обратно на главную страницу</a></p>
          <form action="." method="post">

            <div class="form-group">
              <label for="id_old_password">Текущий пароль</label>
              {{ form.old_password|add_class:'form-control' }}
            </div>
            <div class="form-group">
              <label for="id_new_password1">Новый пароль</label>
              {{ form.new_password1|add_class:'form-control' }}
            </div>
            <div class="form-group">
              <label for="id_new_password2">Подтвердите новый пароль</label>
              {{ form.new_password2|add_class:'form-control' }}
            </div>

         {% csrf_token %}
         <button type="submit" class="btn btn-outline-primary" value="Change my password"
                style="margin-top:26px; margin-bottom:52px">
         Изменить пароль
         </button>

          </form>
{% endblock %}
