{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Сброс прежнего пароля{% endblock %}

{% block content %}
  <div class="h2 mt-5">Сброс прежнего пароля</div>

  {% if validlink %}

      {% if form.errors %}
        <div class="shadow-custom messages alert alert-danger col-lg-5 mx-auto text-center">
          Ваши пароли не совпадают.
          Попытайтеcь ввести их еще раз.
        </div>
      {% endif %}

    <p>Пожалуйста, введите ваш новый пароль дважды:</p>
    <form action="." method="post">

     <div class="form-group">
        <label for="id_new_password1">Новый пароль</label>
        {{ form.new_password1|add_class:'form-control' }}
    </div>
    <div class="form-group">
        <label for="id_new_password2">Подтвердите новый пароль</label>
        {{ form.new_password2|add_class:'form-control' }}
    </div>

      {% csrf_token %}
        <button type="submit" class="btn btn-outline-primary" value="Change my password"
                style="margin-top:26px; margin-bottom:52px">Изменить пароль</button>
    </form>
  {% else %}
    <p>Ссылка на сброс пароля недействительна. Возможно, она уже была использована.
      Пожалуйста, сделайте запрос на сброс пароля еще раз. Надеемся, тогда всё получится!</p>
  {% endif %}
{% endblock %}
