{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}

  <div class="h2 mt-5">Забыли ваш пароль?</div>
  <p>Введите ваш e-mail адрес для получения нового пароля.</p>
  <form action="." method="post">

     <div class="form-group">
        <label for="id_email">Адрес эл.почты</label>
       {{ form.email|add_class:'form-control' }}
    </div>

  <button type="submit" class="btn btn-outline-primary" value="Send e-mail"
          style="margin-top:26px; margin-bottom:52px">Отправить</button>
    {% csrf_token %}
  </form>
{% endblock %}
