{% extends 'shop.html' %}

{% block title %}Корзина{% endblock %}


{% block content %}
<div class="card shadow-custom border-0 col-lg-12 mx-auto my-3">
  <h3 class="py-2 font-weight-bold text-grey text-center">
    Ваш заказ:
  </h3>
  <div class="row justify-content-center py-2">
    <div class="d-none d-lg-block col-lg-2 align-self-start">
      Товар
    </div>
    <div class="d-none d-lg-block col-lg-2 align-self-center">
      Описание
    </div>
    <div class="d-none d-lg-block col-lg-2 align-self-center">
      Наличие
    </div>
    <div class="d-none d-lg-block col-lg-1 align-self-center">
      Цена
    </div>
    <div class="d-none d-lg-block col-lg-2 align-self-center">
      Количество
    </div>
    <div class="d-none d-lg-block col-lg-2 align-self-center">
      Стоимость
    </div>
  </div>
  <hr class="mt-0">
  {% for item in cart %}
    {% with product=item.product %}
      <div class="row justify-content-center cart my-3">
        <div class="cart-item col-4 col-lg-2">
          <a href="{{ product.get_absolute_url }}">
            <img src="{{ product.image.url }}" alt=""
              class="img-fluid rounded-0">
          </a>
        </div>
      <div class="cart-item product-name col-12
        col-lg-2 align-self-center text-center">
        {{ product.name }}
      </div>
      <div class="cart-item col-12 col-lg-2 align-self-center">
      {% if product.available %}
        <div class="text-green mb-0 text-center">
          В наличии
        </div>
      {% else %}
        <div class="text-danger mb-0 text-center">
          Временно отсутствует
        </div>
      {% endif %}
      </div>
      <div class="cart-item col-12 col-sm-3 col-lg-2 align-self-center text-center">
        <span>&#8381; {{ product.price }}</span>
      </div>
      <div class="cart-item col-6 col-sm-5 col-lg-1 align-self-center">
            {{ item.update_quantity_form.quantity }}
      </div>
      <div class="cart-item col-12 col-sm-3
        col-lg-2 align-self-center text-right">
        <span>&#8381; {{ item.total_price }}</span>
      </div>
      <div class="cart-item col-12 col-lg-1 text-right
        align-self-center">
        <form action="{% url 'cart:cart_remove' product.id %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn" data-toggle="tooltip"
            data-placement="top" title="Remove">
            <i class="fas fa-trash-alt"></i>
          </button>
        </form>
      </div>
    </div>
    {% endwith %}
  {% empty %}
  <div class="align-self-center">
    <span class="text-center font-weight-bold text-muted lead">
      Ваша корзина пуста
    </span>
  </div>
  {% endfor %}
  <hr>
  <div class="total-price-cart">
    <h4 class="row justify-content-center">
      <div class="h5 col-6 col-lg-9 text-right text-grey font-weight-bold">
        Общая стоимость:
      </div>
      <div class="h5 col-6 col-lg-2 text-right text-danger font-weight-bold">
        &#8381; {{ cart_total_price|floatformat:2 }}
      </div>
      <div class="col-2 col-lg-1">
      </div>
    </h4>
  </div>
</div>
<hr>
<div class="col-lg-10 mx-auto mb-5">
  <div class="row justify-content-end">
    {% if cart|length > 0 %}
      <div class="col-lg-6 px-0">
        <div class="btn-group d-flex">
          <a href="{% url 'listings:product_list' %}"
            class="btn btn-warning shadow-custom col">
            К списку товаров
          </a>
          <a href="{% url 'orders:order_create' %}"
            class="btn btn-danger shadow-custom col">
            Оформить заказ
          </a>
        </div>
      </div>
    {% else %}
      <div class="col-lg-3 px-0">
        <div class="btn-group d-flex">
          <a href="{% url 'listings:product_list' %}"
            class="btn btn-warning shadow-custom col">
            К списку товаров
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% endblock content %}

