{% extends 'base.html' %}

{% load static %}

{% load notes_tags %}

{% block navbar %}{% endblock %}

{% block  content %}

<div class="portal-content">
    <div class="row">
        <div class="col-md-9">
            <div class="display-4 my-5 my-md-3 mx-md-5 text-center">
                Docent63
            </div>
            <div>
                {% include 'inc/_carousel.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}{% get_space_and_footer space_h=0 footer_h=850 %}{% endblock %}
