{% extends 'base.html' %}

{% load static %}

{% load notes_tags %}

{% block navbar %}{% endblock %}

{#{% block sidebar %}#}
{#    <div class="portal-sidebar">#}
{#    <div class="h4 my-1 my-md-5 pr-1 pr-md-5">ТЕХНОЛОГИИ</div>#}
{#    <div class="h3">DJANGO</div>#}
{#    <div class="h3">POSTGRESQL</div>#}
{#    <div class="h3">BOOTSTRAP</div>#}
{#    <div class="h3">UWSGI+</div>#}
{#    <div class="h3">+NGINX</div>#}
{#    <div class="h3">AWS</div>#}
{#</div>#}
{#{% endblock %}#}

{% block  content %}

<div class="portal-content">
    <div class="row">
        <div class="col-md-9">
            <div class="display-4 my-5 my-md-3 mx-md-5 text-center">
                Docent63
            </div>
            <div class="h2 px-dm-5 text-center">
{#                <p>ДЕМОСАЙТ</p>#}
{#                <p><a href="https://github.com/karyshev63rus/docent63">#}
{#                Репозиторий<br> здесь</a></p>#}
{#                <div class="mail-address">#}
{#                <p>контакты:</p>#}
{#                <p>karyshev63rus@gmail.com</p>#}
{#                </div>#}
{#                {% include 'inc/_carousel.html' %}#}
            </div>
            <div>
                {% include 'inc/_carousel.html' %}
            </div>
        </div>
{#        <div class="col-md-3">#}
{#                <div class="h2 my-1 my-md-5 pr-1 pr-md-5">ПРОЕКТЫ</div>#}
{#                <div class="h1"><a href="{% url 'notes:post_list' %}">Блог</a></div>#}
{#                <div class="h1"><a href="{% url 'listings:product_list' %}">Магазин</a></div>#}
{#        </div>#}
    </div>
</div>

{% endblock %}

{% block footer %}{% get_space_and_footer space_h=0 footer_h=850 %}{% endblock %}
